@model IEnumerable<MyClass.Models.Slider>
<div class="slider">
    <div id="slider">
        <div id="mover">
            @{ int index = 0;}
            @foreach (var slider in Model)
            {
                if (index == 0)
                {

                    <div id="slide-1" class="slide">
                        <div class="slider-img">
                            <a href="preview.html"><img src="~/Public/images/sliders/@slider.Img" alt="@slider.Name" /></a>
                        </div>
                        <div class="slider-text">
                            <h1>Clearance<br><span>SALE</span></h1>
                            <h2>UPTo 20% OFF</h2>
                            <div class="features_list">
                                <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                            </div>
                            <a href="preview.html" class="button">Shop Now</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
                else
                {
                    <div class="slide">
                        <div class="slider-text">
                            <h1>Clearance<br><span>SALE</span></h1>
                            <h2>UPTo 40% OFF</h2>
                            <div class="features_list">
                                <h4>Get to Know More About Our Memorable Services</h4>
                            </div>
                            <a href="preview.html" class="button">Shop Now</a>
                        </div>
                        <div class="slider-img">
                            <a href="preview.html"><img src="~/Public/images/sliders/@slider.Img" alt="@slider.Name" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
                index++;
            }
        </div>
    </div>
    <div class="clear"></div>
</div>
